<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close">
                    <span class="pficon pficon-close"></span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Adicionar máquina</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="vm_custom_name">Hostname</label>
                        <div class="col-sm-9">
                            <input type="text" id="vm_custom_name" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="num_vms">Quantidade de servidores</label>
                        <div class="col-sm-9">
                                <input class="bootstrap-touchspin form-control" id="num_vms" type="text" value="" name="bootstrap-touchspin-empty">
                                <script>
                                    $(".bootstrap-touchspin").TouchSpin();
                                </script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="enviroment">Ambiente do servidor</label>
                        <div class="col-sm-9">
                        <select class="form-control" id="enviroment">
                        <option> DEV </option>
                        <option> QA </option>
                        <option> PROD </option>
                        </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="vm_cpus">VCPU</label>
                        <div class="col-sm-9">
                            <input type="text" id="vm_cpus" class="form-control">
                        </div>
                    </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label" for="vm_memory">Memory</label>
                        <div class="col-sm-9">
                            <input type="text" id="vm_memory" class="form-control">
                        </div>
                    </div>
                       <div class="form-group">
                        <label class="col-sm-3 control-label" for="vm_disk">Storage</label>
                        <div class="col-sm-9">
                            <input type="text" id="vm_disk" class="form-control">
                        </div>
                    </div>

                       <div class="form-group">
                        <label class="col-sm-3 control-label" for="vm_net">Network</label>
                        <div class="col-sm-9">
                            <input type="text" id="vm_net" class="form-control">
                        </div>
                    </div>
                       <div class="form-group">
                        <label class="col-sm-3 control-label" for="inventory_tower">Esse servidor pertence a qual inventário?</label>
                        <div class="col-sm-9">
                        <select class="form-control" id="inventory_tower">
                        <option> infra </option>
                        </select>

                        </div>
                    </div>





                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
