<div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card-pf card-pf-accented card-pf-aggregate-status">
        <h2 class="card-pf-title">
            <span class="pf pficon-cluster"></span> <span class="card-pf-aggregate-status-count">JBoss</span></h2>
        <div class="card-pf-body">
            <p class="card-pf-aggregate-status-notifications">
                <span class="card-pf-aggregate-status-notification"><a class="add" data-toggle="modal"
                        data-placement="top" title="Add Ipsum" data-target="#addModal"><span
                            class="pficon pficon-add-circle-o"></span></a></span>
            </p>
        </div>
    </div>